<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DDEITestProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <appSettings>
    <add key="Browser" value="FireFox" />
    <add key="DDEIIP" value="10.64.70.250" />
    <add key="DDEIHIddenPagePassword" value="ddei" />
    <add key="Sender" value="bvtsender@ddei.com" />
    <add key="Recipient" value="bvtrecipient@ddei.com" />
    <add key="Port" value="25" />
    <add key="MailSamplePath" value="..\..\..\IntegrationTest\MailSample" />
    <add key="SSHUSER" value="root" />
    <add key="SSHPWD" value="111111" />
    <add key="TimeoutForWaitPolicyEvent" value="30" />
    <add key="TeMailBin" value="..\..\..\IntegrationTest\Tools\temail.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <DDEITestProject.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>marks</value>
      </setting>
    </DDEITestProject.Properties.Settings>
  </userSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>